/* Основні стилі */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0d1117; /* Фон сторінки */
    color: #f0f6fc; /* Текст */
}

/* Заголовок */
header {
    background-color: #010409; /* Шапка */
    color: #f0f6fc; /* Текст шапки */
    padding: 20px;
    text-align: center;
}

.badges img {
    margin: 5px;
}

/* Основний контент */
main {
    padding: 20px;
}

h1, h2, h3 {
    color: #f0f6fc; /* Колір заголовків */
}

/* Секція корпорацій */
.corp-links a {
    display: inline-block;
    margin: 5px;
    padding: 10px 15px;
    background-color: #e2e6ea; /* Колір кнопок */
    color: #0d1117; /* Колір тексту кнопок */
    text-decoration: none;
    border-radius: 5px;
}

.corp-links a:hover {
    background-color: #f0f6fc; /* Колір кнопок при наведенні */
    color: #0d1117; /* Колір тексту кнопок при наведенні */
}

/* Нижній колонтитул */
footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #010409; /* Підвал */
    color: #f0f6fc; /* Текст підвалу */
}
